body {
	background-color: rgb(43, 42, 42);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
	font-size: 40px;
	color: #7d94f2;
}

input {
	border-radius: 3px;
}

button {
	border-radius: 3px;
	background-color: #7d94f2;
}

.search {
	display: flex;
	gap: 20px;
}

.weather {
	font-size: medium;
	color: blanchedalmond;
}
